@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
	font-family: 'GmarketSansLight';
}

div#container {
	width: 70%;
	margin: 0 auto;
	margin-top:100px;
}

form.join_form fieldset {
	 border: 1px solid #53734e;
 	 border-radius: 15px;
 	 padding : 10px;
}

form.join_form legend {
	text-align: center;
  padding: 10px 20px;
  background-color: #53734e;
  border-radius: 15px;
  color: white;
  font-weight: 900;
}
form.join_form label{
	 display: inline-block;
  width: 30%;
  text-align: right;
  margin: 4px 5px;
  padding: 8px;
  font-weight: bold;
  white-space: nowrap;
}

form.join_form input {
	width: 50%;
  margin: 4px 5px;
  padding: 8px;
  border-radius: 25px;
  outline: 0;
  border-color: #53734e;
}

form.join_form input:focus{
	  border-color: #53734e;
}
form.join_form input:hover{
	 background-color: #feffdf;
}

.buttons{
	text-align: right;
	padding-right: 20px;
	margin-top:20px;
}
button{
	padding: 10px 20px;
  outline: 0;
  border: 0;
  background-color: #feffdf;
  color: #53734e;
  border-radius: 15px;
  font-weight: 900;
  border: 2px solid #53734e;
}
button:hover {
  box-shadow: 2px 2px 2px #53734e;
  cursor: pointer;
}