@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansLight';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'GmarketSansLight';
}

div.main_box {
	/* 흰색 큰 box */
	width: 70%;
	height: 600px;
	border: 3px solid black;
	margin: 60px 240px;
	display: flex;
	border-radius: 4px;
}

div.main_box p {
	/* 큰 박스 글씨체 위치 및 크기 조절*/
	font-family: Do Hyeon;
	font-size: 65px;
	padding: 40px 10px;
	writing-mode: vertical-lr;
}

div.main_img {
	/* 로고 img 크기 및 위치 조절*/
	background: url("image/main.png") no-repeat;
	width: 40%;
	background-size: 250px;
	background-position: center;
	margin-right: 50px;
}

form.sub_box {
	/* 녹색 box 색, 위치, 크기 조절 */
	background-color: #91c788;
	margin-left: auto;
	display: flex;
}

section.sub_menu {
	/* id, password 등 하나로 묶어 기본 설정 */
	width: 100%;
	padding: 130px 20px;
	position: relative;
}

div.box_username {
	/* id가 담긴 box 위치 설정 */
	display: flex;
	justify-content: left;
	align-items: center;
	position: relative;
}

div.box_password {
	/* password가 담긴 box 위치 설정*/
	display: flex;
	justify-content: left;
	align-items: center;
	position: relative;
}

div.sub_img1, div.sub_img2 {
	/* id, password 이미지 위치 및 크기 설정 */
	width: 50px;
	height: 50px;
	background: url("image/username.png") no-repeat;
}

div.sub_img2 {
	/* password 이미지 세부 위치 및 크기 설정 */
	width: 50px;
	height: 50px;
	background: url("image/password.png") no-repeat;
	margin: 40px 0px;
}

div.box_username label {
	/* id 글씨체의 색, 크기 및 위치 설정 */
	font-size: 30px;
	color: white;
	font-family: Do Hyeon;
	padding: 0px 10px;
	margin-top: 20px;
}

div.box_password label {
	/*password 글씨체의 색, 크기 및 위치 설정 */
	font-size: 30px;
	color: white;
	font-family: Do Hyeon;
	padding: 0px 10px;
	margin-top: 20px;
}

input#ip_username {
	/* id input box 위치 및 크기 설정 */
	position: absolute;
	top: 65px;
	left: 75px;
	width: 250px;
	outline: none;
	text-align: center;
	border-radius: 3px;
	height: 35px;
}

input#ip_password {
	/* password input box 위치 및 크기 설정 */
	position: absolute;
	top: 95px;
	left: 75px;
	width: 250px;
	outline: none;
	text-align: center;
	border-radius: 3px;
	height: 35px;
}

div.box_passowrd input#ip_password:hover, div.box_username input#ip_username:hover
	{
	/* input box에 마우스가 올라갈때 설정*/
	background-color: rgb(19, 18, 18);
}

div.box_password input#ip_password:focus, div.box_username input#ip_username:focus
	{
	/* input box 클 클릭할때 설정 */
	width: 350px;
	border: 4px solid #52734d;
	transition: 0.5s;
}

section.sub_menu p.member {
	/* 녹색 sub box p tag 위치 및 크기 설정 */
	writing-mode: inherit;
	font-family: Do Hyeon;
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px 3px gray;
	position: absolute;
	top: 300px;
	left: 140px;
}

p.member a {
	/* a tag 설정 */
	text-decoration: none;
}

p.member a:hover {
	/* a tag에 마우스가 올라갈때 설정 */
	text-decoration: underline;
}

section.sub_menu div.btn_su {
	display: inline-block;
}

div.btn_su button {
	/* 버튼 위치, 크기, 디자인 설정*/
	margin: 65px 85px;
	width: 300px;
	height: 70px;
	border-radius: 30px;
	background-color: white;
	color: #52734d;
	font-size: 40px;
	font-family: Do Hyeon;
	padding-bottom: 5px;
	border: none;
}

div.btn_su button:hover {
	/* 버튼 위에 마우스가 올라갈때 설정*/
	box-shadow: 2px 2px 2px black;
	background-color: #52734d;
	color: white;
	cursor: pointer;
}